<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <th:block th:each="event : ${events}">
        <tr>
            <td th:text="${event.getKey()}">Event Name</td>
            <th th:text="${event.getValue()}">Description</th>
        </tr>
    </th:block>
</table>

</body>
</html>